<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenerateLabResultReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GenerateLabResultReport.Properties.Settings>
            <setting name="DOCUMENTGENERATOR_BASE_URI" serializeAs="String">
                <value>http://localhost:54898/</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>MSSQLSERVER_CONNECTION_STRING</value>
            </setting>
            <setting name="TEMPLATE_PATH" serializeAs="String">
                <value>TEMPLATE_FILE_PATH</value>
            </setting>
            <setting name="REGULAR_FONT_FILE_PATH" serializeAs="String">
                <value>REGULAR_FONT_FILE_PATH</value>
            </setting>
            <setting name="ITALICS_FONT_FILE_PATH" serializeAs="String">
                <value>ITALICS_FONT_FILE_PATH</value>
            </setting>
            <setting name="BOLD_REGULAR_FONT_FILE_PATH" serializeAs="String">
                <value>BOLD_REGULAR_FONT_FILE_PATH</value>
            </setting>
            <setting name="BOLD_ITALICS_FONT_FILE_PATH" serializeAs="String">
                <value>BOLD_ITALICS_FONT_FILE_PATH</value>
            </setting>
            <setting name="DOCUMENT_VERSION_NO_AND_AMEND_QUERY" serializeAs="String">
                <value>SQL_QUERY_TO_GRAB_VERSION_NO_AND_AMENDED_STATUS</value>
            </setting>
            <setting name="REQUISITION_INFO_QUERY" serializeAs="String">
                <value>REQUISITION_INFO</value>
            </setting>
            <setting name="RESULTS_BASE_QUERY" serializeAs="String">
                <value>RESULTS_BASE</value>
            </setting>
            <setting name="PANEL_TESTS_QUERY" serializeAs="String">
                <value>PANEL_TESTS</value>
            </setting>
            <setting name="FORMATTED_RESULTS_QUERY" serializeAs="String">
                <value>FORMATTED_RESULTS</value>
            </setting>
            <setting name="MANUAL_RESULTS_QUERY" serializeAs="String">
                <value>MANUAL_RESULTS</value>
            </setting>
            <setting name="PANEL_NAME_AND_PANEL_ID_QUERY" serializeAs="String">
                <value>PANEL_NAME_AND_PANEL_ID</value>
            </setting>
        </GenerateLabResultReport.Properties.Settings>
    </userSettings>
</configuration>